
.careTypes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.careTypes > *:nth-child(even) {
    background-color: #f3f3f3;
}

.careTypes > *:last-child {
    background-color: #fff;
}

.mainHeader {
    margin: 60px 0;
    font-size: 4.375rem;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.careSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 80px 0;
    width: 100%;
}

.careContainer {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 60px;
}

.careHeader {
    margin: 0 0 50px 0;
    padding: 0 50px 10px 0;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    border-bottom: 1px solid#949400;
    width: fit-content;
}

.careSubheader {
    font-family: "Roboto", sans-serif;
    margin: 0 0 30px 0;
    font-weight: normal;
    font-size: 1.625rem;
}

.careDesc {
    margin: 0 0 70px 0;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #555;
}

.careCol { 
    margin: 0 60px 0 0;
    max-width: 400px;
}

.colHeader {
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
}

.colList {
    margin: 0 0 0 50px;
}

.colList > * {
    font-size: 0.938rem;
    font-family: "Poppins", sans-serif;
    color: #555;
}

.flex {
    display: flex;
}

.devLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 60px 0;
}
  
.devLink {
    border: 1px solid #333;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
    border-radius: 8px;
}
  
.devIcon {
    font-size: 1.875rem;
    text-align: center;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media (max-width: 700px) {

    .mainHeader {
        font-size: 3.125rem;
    }

    .careHeader {
        font-size: 1.875rem;
    }

    .colHeader {
        font-size: 1.125rem;
    }

    .flex {
        flex-direction: column;
    }

    .careDesc {
        margin: 0;
    }

    .careCol {
        margin: 50px 0 0 0;
    }
}

@media (max-width: 600px) {

    .mainHeader {
        font-size: 2.188rem;
        margin: 30px 20px;
    }

    .careContainer {
        margin: 0 30px;
    }

    .careSection {
        padding: 30px 0 40px 0;
    }

    .careHeader {
        font-size: 1.563rem;
        margin: 0 0 30px 0;
    }

    .careSubheader {
        font-size: 1.375rem;
    }

    .colHeader {
        font-size: 1.125rem;
    }

    .colList {
        margin: 0 0 0 30px;
    }

    .careDesc {

    }
}