
.suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 100px 0 0 0;
}

.postTitle {
    font-weight: normal;
    font-size: 3.125rem;
    font-family: "Roboto", sans-serif;
    margin: 0 10px 30px 10px;
    text-align: center;
}

.subHeader {
    font-family: "Popins", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0 0 30px 0;
    text-decoration: none;
    color: #333;
}

.postContent {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    max-width: 800px;
    margin: 0 0 40px 0;
    width: 90vw;
}

.postContent p,
.postContent img {
    margin-bottom: 30px;
    max-width: 90vw;
    height: auto;
}

.postContent > ul {
    margin: 0 0 30px 40px;
}

.arrow {
    margin-left: 5px;
}