.urgentCares {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0 0 ;
}

.devNote {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    margin: 0 0 80px 0;
    max-width: 900px;
    text-align: center;
}
  
.devLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0 120px 0;
}
  
.devLink {
    border: 1px solid #333;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
    border-radius: 8px;
}
  
.devIcon {
    font-size: 1.875rem;
    text-align: center;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media (max-width: 900px) {

    .urgentCares {
        padding: 50px;
    }

    .devLinks {
        margin: 100px 0 70px 0;
    }

}

@media (max-width: 700px) {

    .devNote {
        margin-bottom: 40px;
    }
}

@media (max-width: 400px) {

    .devLink {
        padding: 16px 14px;
    }

    .devIcon {
        font-size: 1.25rem;
    }
}