
.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}
  
.navHeader {
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-align: center;
}
  
.navLinks {
    display: flex;
    list-style-type: none;
}
  
.navLink {
    margin: 0 30px;
}
  
.navLink * {
    color: #555;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding: 0 5px;
}
  
.navLink *:hover {
    border-bottom: 1px solid #949400;
}

@media (max-width: 1200px) {

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .navLinks {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 700px) {

    .navHeader {
        font-size: 1.875rem;
    }

    .navLink {
        margin: 0 14px;
    }

}

@media (max-width: 400px) {

    .hideMobile {
        display: none;
    }

}