@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');

/* Common */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

i {
  margin-right: 5px;
  color: #949400;
}
